.advantages {
  padding: 60px 0;

  @include desktop {
    padding: 94px 0;
  }
}

.advantages__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;

   @include tablet {
   align-items: flex-start;
   flex-direction: row;
}
}

.advantages__icon {
  display: block;
}

.advantages__item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;

  @include tablet {
    width: calc((738px - 30px) / 2);
  }
   @include desktop {
   width: calc((1170px - 90px) / 4);
}
}

.advantages__thumb {
  display: flex;
  background: #f5f4fa;
  padding: 25px 0;
  justify-content: center;
  border-radius: 4px;
}

.advantages__title {
  @include font (14px, 1.1);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--main-text-color);

}
.advantages__title--header {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;

   @include tablet {
    text-align: start;
   }
}
.advantages__text {
  @include font (14px, 1.7);
  color: var(--advantages-paragraph);
  letter-spacing: 0.03em;
}
