
.logo__container {
    padding: 15px 0;
   
   @include tablet {
    padding: 24px 0;
    margin-right: 87px;  
    }  
    
    @include desktop {
         margin-right: 93px;
    }
}
.logo {
    @include font (26px, 1.2);
    display: block;
    
    font-family: var(--logo-font);
    font-weight: 700;
    color: var(--nav-color);
            
}
.header__logo {


 &--wordpart {
    line-height: 1.2;
    color: var(--black);
    }
}
 