
.logo {
    @include font (26px, 1.2);
    display: block;
    margin-right: 93px;
    font-family: var(--logo-font);
    font-weight: 700;
    color: var(--nav-color);

            
}
.header__logo {
 padding-top: 24px;

 &--wordpart {
    line-height: 1.2;
    color: var(--black);
    }
}
 