.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 1600px) {
    align-items: flex-start;
    flex-grow: 1;
    padding-left: 93px;
  }
}

.subscribe__form {
  width: 100%;
  @media screen and (min-width: 1600px) {
    display: flex;
  }
}

.submit__btn {
  @include button__flex__center;
  @include font(16px, 1.88);
  font-weight: 700;
  font-style: normal;
  color: var(--white-text);
  background-color: var(--nav-color);

  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 28px;
  cursor: pointer;
  scale: (1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::after {
    content: "";
    display: block;
    width: 24px;
    height: 24px;

    background-image: url(../images/icon-send.svg);
    fill: var(--white-text);

    margin-left: 10px;
  }

  &:hover,
  &:focus {
    transform: scale(1.1);
  }
  margin: 0 auto;
}

.subscribe__input {
  flex-grow: 1;
  background: transparent;
  padding: 15px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--white-text);
  caret-color: var(--nav-color);

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    outline: transparent;
    border: 1px solid var(--nav-color);
  }
  &:not(:placeholder-shown) {
    border: 1px solid var(--nav-color);
  }
}

.subscribe__input--field {
  margin-bottom: 20px;
  width: 100%;
  @media screen and (min-width: 1600px) {
    margin-right: 12px;
    margin-bottom: 0;
  }
}
